﻿@page
@model Web.Pages.CollectionPageModel
@{
    ViewData["Title"] = "Ma collection";
}

<h1>Ma collection</h1>

@if (Model.Volumes != null && Model.Volumes.Any())
{
    <ul>
        @foreach (var volume in Model.Volumes)
        {
            <li>
                <h3>@volume.Title</h3>
                <p>Volume @volume.Number</p>
                <p>Pages: @volume.Pages</p>
                <p>Released: @volume.Released</p>
                @if (!string.IsNullOrEmpty(volume.Image))
                {
                    <img src="@volume.Image" alt="Volume Image" />
                }
                else
                {
                    <p>Pas d'image disponible</p>
                }
            </li>
        }
    </ul>
}
else
{
    <p>Votre collection est vide.</p>
}
