﻿@page
@using Domain.Models;
@using Microsoft.AspNetCore.Identity
@model Web.Pages.HomeModel
@inject IHttpContextAccessor HttpContextAccessor

@{
}

<h1>@HttpContext.Request.Cookies["CurrentUser"];</h1>

@if (Model.UserId != null)
{
    <p>Welcome, User ID: @Model.UserId, Username: @Model.UserName</p>
}
else
{
    <h1>@Model.Email</h1>
    <h1>@HttpContext.Request.Cookies["CurrentUser"];</h1>
    <h1>@HttpContext.Session.GetString("Username");</h1>
    <p>You are not logged in.</p>
}
