﻿@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Accueil";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Âge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
            </tr>
        }
    </tbody>
</table>

<form method="get">
    <button type="submit">Obtenir les utilisateurs</button>
</form>


