﻿@page "/licence"
@model Web.Pages.LicencePageModel
@{
    ViewData["Title"] = "Licences";
}

<h1>Licences</h1>

@if (Model.Licences != null && Model.Licences.Any())
{
    <ul>
        @foreach (var licence in Model.Licences)
        {
            <li>
                <h3>@licence.Name</h3>
                @if (!string.IsNullOrEmpty(licence.Image))
                {
                    <img src="@licence.Image" alt="@licence.Name" />
                }
                else
                {
                    <p>No image available</p>
                }
                <a href="/licence/@licence.Id/volume">View Volumes</a>
            </li>
        }
    </ul>
}
else
{
    <p>Aucune licence trouvée.</p>
}
