﻿@page
@model Web.Pages.LoginPageModel
@{
    ViewData["Title"] = "Connexion";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>@ViewData["Title"]</h1>

@if (Model.ErrorMessage != null)
{
    <p>@Model.ErrorMessage</p>
}

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input asp-for="@Model.Username" id="username" type="text" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input asp-for="@Model.Password" id="password" type="password" required />
    </div>
    <div>
        <button type="submit" asp-page-handler="OnPostAsync">Login</button>
    </div>
</form>


