﻿@page "/licence/{licenceId:int}/volume"
@model Web.Pages.VolumePageModel
@{
    ViewData["Title"] = "Volumes";
}

<h1>Volumes</h1>

@if (Model.Licence != null)
{
    <h2>Licence: @Model.Licence.Name</h2>
}
else
{
    <p>Pas de licence trouvé</p>
}

@if (Model.Volumes != null && Model.Volumes.Any())
{
    <ul>
        @foreach (var volume in Model.Volumes)
        {
            <li>
                <h3>Volume @volume.Number - @volume.Title</h3>
                <p>Pages: @volume.Pages</p>
                <p>Released: @volume.Released</p>
                @if (!string.IsNullOrEmpty(volume.Image))
                {
                    <img src="@volume.Image" alt="Volume Image"/>
                }
                else
                {
                    <p>Pas d'image disponible</p>
                }
                <a href="/licence/@Model.Licence.Id/volume/@volume.Id">Voir les détails</a>

                <form method="post" asp-page-handler="AddToCollection" asp-route-volumeId="@volume.Id">
                    <button type="submit">Ajouter à ma collection</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>Pas de volume trouvé</p>
}