﻿<!DOCTYPE html>
<html>
<head>
    <title>Mon application</title>
    <style>
        /* Styles spécifiques au menu latéral */
        .sidebar {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -250px;
            background-color: black; /* Fond noir */
            color: white; /* Texte blanc */
            transition: left 0.3s ease-in-out;
        }

            .sidebar.open {
                left: 0;
            }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        /* Styles du bouton pour ouvrir/fermer la sidebar */
        .toggle-button {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 999;
            background-color: transparent;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <!-- Contenu du menu latéral -->
        <h3>Menu</h3>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/users">Utilisateurs</a></li>
            <!-- Ajouter d'autres liens de menu ici -->
        </ul>
    </div>

    <button class="toggle-button" onclick="toggleSidebar()">&#9776;</button>

    <div class="content">
        <!-- Contenu spécifique à chaque page Razor -->
        @RenderBody()
    </div>

    <script>
        // Fonction pour ouvrir/fermer la sidebar
        function toggleSidebar() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('open');
        }
    </script>
</body>
</html>
